<div>
    <h2>Board Games</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="board-game.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Board Game
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearPublished"><span>Year Published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minPlayers"><span>Min Players</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxPlayers"><span>Max Players</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="playingTime"><span>Playing Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minAge"><span>Min Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minPlaytime"><span>Min Playtime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="maxPlaytime"><span>Max Playtime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thumbnail"><span>Thumbnail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usersRated"><span>Users Rated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="avgRating"><span>Avg Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bayesAvgRating"><span>Bayes Avg Rating</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rank"><span>Rank</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span>Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="boardGame in vm.boardGames track by boardGame.id">
                    <td><a ui-sref="board-game-detail({id:boardGame.id})">{{boardGame.id}}</a></td>
                    <td>{{boardGame.name}}</td>
                    <td>{{boardGame.yearPublished}}</td>
                    <td>{{boardGame.minPlayers}}</td>
                    <td>{{boardGame.maxPlayers}}</td>
                    <td>{{boardGame.playingTime}}</td>
                    <td>{{boardGame.minAge}}</td>
                    <td>{{boardGame.minPlaytime}}</td>
                    <td>{{boardGame.maxPlaytime}}</td>
                    <td>{{boardGame.description}}</td>
                    <td>{{boardGame.thumbnail}}</td>
                    <td>{{boardGame.usersRated}}</td>
                    <td>{{boardGame.avgRating}}</td>
                    <td>{{boardGame.bayesAvgRating}}</td>
                    <td>{{boardGame.rank}}</td>
                    <td>{{boardGame.image}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="board-game-detail({id:boardGame.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="board-game.edit({id:boardGame.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="board-game.delete({id:boardGame.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
