<div ng-cloak>
    <div class="row">
        <div class="col-md-8">

            <div ng-switch="vm.isAuthenticated()">
                <!--<div class="alert alert-success" ng-switch-when="true">-->
                <!--You are logged in as user "{{vm.account.login}}".-->
                <!--</div>-->

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>,
                    you can try the default accounts:<br/>- Administrator (login="admin" and
                    password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register
                    a new account</a>
                </div>

                <!-- Main Content -->
                <div ng-switch-when="true">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-8 no-padding-right">
                                <form name="searchForm" class="form-inline">
                                    <div class="input-group pull-right">
                                        <input type="text" class="form-control"
                                               ng-model="vm.searchQuery"
                                               id="searchQuery" placeholder="Search">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>

                    <!--{{boardGame.name}} ({{boardGame.yearPublished}})-->
                    <!--{{boardGame.minPlayers}}-->
                    <!--{{boardGame.maxPlayers}}-->
                    <!--{{boardGame.playingTime}}-->
                    <!--{{boardGame.minAge}}-->
                    <!--{{boardGame.minPlaytime}}-->
                    <!--{{boardGame.maxPlaytime}}-->
                    <!--{{boardGame.description}}-->
                    <!--{{boardGame.thumbnail}}-->
                    <!--{{boardGame.usersRated}}-->
                    <!--{{boardGame.avgRating}}-->
                    <!--{{boardGame.bayesAvgRating}}-->
                    <!--{{boardGame.rank}}-->
                    <!--{{boardGame.image}}-->


                    <p class="lead">Top Rated</p>
                    <div>
                        <div class="col-lg-2 col-smd-4"
                             ng-repeat="boardGame in vm.boardGames track by boardGame.id">
                            <div>
                                <span>{{boardGame.name}} ({{boardGame.yearPublished}})</span>
                                <span>{{boardGame.avgRating}}</span>
                            </div>
                            <div>
                                <img ng-src="{{boardGame.thumbnail}}"/>
                            </div>
                        </div>
                    </div>
            <span ng-if="vm.boardGames.length === 0">
                <strong>No results found...</strong>
            </span>
                </div>

            </div>


        </div>


    </div>
</div>


</div>
